<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
     <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
</head>
<body>

<p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"> Value</p>

<div th:if="${owner}">
  <span>The book is now in the possession of</span> <span th:text="${owner.getFullName()}">Person name</span>

  <form th:method="PATCH" th:action="@{books/{id}/release(id=${book.getId()})}">
    <input type="submit" value="Return the book">
  </form>
</div>

<div th:if="${people}">
    <span>This book is free to whom to assign it?</span>
  <form method="PATCH" th:action="@{books/{id}/assign(id=${book.getId()})}">
    <select th:object="${person}" th:field="*{id}" id="person">
      <option th:each="person:${people}" th:value="${person.getId()}" th:text="${person.getFullName()}">
      </option>
    </select>
    <input type="submit" value="Select a book"/>
  </form>
</div>

<hr/>
<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
  <input type="submit" value="Edit of book"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
  <input type="submit" value="Delete of book"/>
</form>




</body>
</html>